@model PBD_MVC.Models.EntrenamientoTipoEntrenamiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntrenamientoTipoEntrenamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrenamiento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrenamiento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEntrenamiento.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEntrenamiento.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEntrenamientoTipoEntrenamiento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
