@model IEnumerable<PBD_MVC.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadistica.idEstadistica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadistica.idEstadistica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPartido }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPartido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPartido })
        </td>
    </tr>
}

</table>
