@model PBD_MVC.Models.Viaje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Viaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudadSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudadDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idViaje }) |
    @Html.ActionLink("Back to List", "Index")
</p>
